.sidebar-container {
  width: 20%;
  background-color: #272522;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

/* scroll bar */
/* Works on Chrome, Edge, and Safari */
.sidebar-history-scroller::-webkit-scrollbar {
  width: 8px;
}

.sidebar-history-scroller::-webkit-scrollbar-thumb {
  background-color: #f89d17;
  border-radius: 20px;
}
/* ---- end scroll bar */

.sidebar-history-scroller {
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar-controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  width: 100%;
  padding: 10px;
}
