.board-container {
	width: 40%;
	border-radius: 5px;
	overflow: hidden;
}

.board {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}

.board-square {
	width: 12.5%;
	height: 12.5%;
	display: flex;
	justify-items: center;
	align-items: center;
	overflow: hidden;
}

.board-piece {
	cursor: grab;
	cursor: -webkit-grab;
}

.board-piece:active {
	cursor: grabbing;
	cursor: -webkit-grabbing;
}
